.chatbox {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    border: 1px solid var(--border-color);
    background-color: var(--bg-secondary);
    position: relative;
}

/*
 * Add loading will break the dialog now
 * Need to investigate more
 * See <https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dialog>
 */
/* .chatbox.loading {
 opacity: 0.25;
 transition: opacity 200ms;
 transition-delay: 200ms;
} */

.welcome-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.welcome {
    width: 20vw;
    text-align: left;
}

.input-bottom {
    position: sticky;
    bottom: 0;
    margin-top: auto;
    background-color: var(--bg-secondary);
    display: flex;
    flex-direction: column;
}

.footer {
    color: var(--text-secondary);
    font-size: 0.75em;
    margin: 5px;
}
